{% extends 'main.html' %} {% load static %} {% block title %}Post{% endblock %}
{% block content %}
<div class="container">
  <div class="post">
    <img class="headerimg w-100 mt-4" src="{{ posts.image.url }}" alt="" />
    <div class="caption">
      <div class="header">
        <h1>{{ posts.title }}</h1>
        <p class="text-muted h6">{{ posts.author }} | {{ posts.created_on }}</p>
      </div>
      <p class="article_text text-md-center">
        {{ posts.content | linebreaksbr }}
      </p>
    </div>
  </div>
  <div class="container">
    <div id="app">
      <!-- Triple slider -->
      <div class="triple-slider">
        <!-- Duplicate swipers will be created automatically -->

        <!-- Main center swiper -->
        <div
          class="swiper triple-slider-prev swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        >
          <div class="swiper-wrapper">
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
              data-swiper-slide-index="0"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              data-swiper-slide-index="1"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="2"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="3"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
              />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="4"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
          </div>
        </div>
        <div
          class="swiper triple-slider-main swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        >
          <div class="swiper-wrapper" style="cursor: grab">
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
              data-swiper-slide-index="0"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              data-swiper-slide-index="1"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="2"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="3"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide"
              data-swiper-slide-index="4"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
          </div>
        </div>
        <div
          class="swiper triple-slider-next swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden"
        >
          <div class="swiper-wrapper">
            <div
              class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
              data-swiper-slide-index="0"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
            </div>
            <div
              class="swiper-slide swiper-slide-next"
              data-swiper-slide-index="1"
              style="width: 640px"
            >
              <img class="bg-image" src="#" alt="" />
              <div
                class="swiper-slide"
                data-swiper-slide-index="2"
                style="width: 640px"
              >
                <img class="bg-image" src="#" alt="" />
              </div>
              <div
                class="swiper-slide"
                data-swiper-slide-index="3"
                style="width: 640px"
              >
                <img class="bg-image" src="#" alt="" />
              </div>
              <div
                class="swiper-slide"
                data-swiper-slide-index="4"
                style="width: 640px"
              >
                <img class="bg-image" src="#" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
