@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Work+Sans:ital,wght@0,400;1,300&display=swap");
/* This pen */
/* line 7, static/css/cards.scss */
.dark {
  background: #110f16; }

/* line 11, static/css/cards.scss */
.light {
  background: #f3f5f7; }

/* line 15, static/css/cards.scss */
a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out; }

/* Cards */
/* line 22, static/css/cards.scss */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff; }
  /* line 32, static/css/cards.scss */
  .postcard.dark {
    background-color: #18151f; }
  /* line 35, static/css/cards.scss */
  .postcard.light {
    background-color: #f8f8f8; }
  /* line 39, static/css/cards.scss */
  .postcard .t-dark {
    color: #18151f; }
  /* line 43, static/css/cards.scss */
  .postcard a {
    color: inherit; }
  /* line 47, static/css/cards.scss */
  .postcard h1,
  .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2; }
  /* line 54, static/css/cards.scss */
  .postcard .small {
    font-size: 80%; }
  /* line 58, static/css/cards.scss */
  .postcard .postcard__title {
    font-size: 1.75rem; }
  /* line 62, static/css/cards.scss */
  .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative; }
  /* line 69, static/css/cards.scss */
  .postcard .postcard__img_link {
    display: contents; }
  /* line 73, static/css/cards.scss */
  .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease; }
  /* line 82, static/css/cards.scss */
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Oswald"; }
  /* line 90, static/css/cards.scss */
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%; }
  /* line 97, static/css/cards.scss */
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px; }
  /* line 109, static/css/cards.scss */
  .postcard:hover .postcard__bar {
    width: 100px; }

@media screen and (min-width: 769px) {
  /* line 115, static/css/cards.scss */
  .postcard {
    flex-wrap: inherit; }
    /* line 118, static/css/cards.scss */
    .postcard .postcard__title {
      font-size: 2rem; }
    /* line 122, static/css/cards.scss */
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease; }
    /* line 128, static/css/cards.scss */
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%; }
    /* line 133, static/css/cards.scss */
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px; }
    /* line 143, static/css/cards.scss */
    .postcard:hover .postcard__img {
      transform: scale(1.1); }
    /* line 147, static/css/cards.scss */
    .postcard:nth-child(2n + 1) {
      flex-direction: row; }
    /* line 151, static/css/cards.scss */
    .postcard:nth-child(2n + 0) {
      flex-direction: row-reverse; }
    /* line 155, static/css/cards.scss */
    .postcard:nth-child(2n + 1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg); }
    /* line 160, static/css/cards.scss */
    .postcard:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg); } }

@media screen and (min-width: 1024px) {
  /* line 167, static/css/cards.scss */
  .postcard__text {
    padding: 2rem 3.5rem; }
  /* line 171, static/css/cards.scss */
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px; }
  /* line 182, static/css/cards.scss */
  .postcard.dark .postcard__text:before {
    background: #18151f; }
  /* line 187, static/css/cards.scss */
  .postcard.light .postcard__text:before {
    background: #f8f8f8; } }

/* COLORS */
/* line 194, static/css/cards.scss */
.postcard .postcard__tagbox .bone.play:hover {
  background-color: #f8f8f8; }

/* line 197, static/css/cards.scss */
.bone .postcard__title:hover {
  color: #79dd09; }

/* line 200, static/css/cards.scss */
.bone .postcard__bar {
  background-color: #79dd09; }

/* line 203, static/css/cards.scss */
.bone::before {
  background-image: linear-gradient(-30deg, rgba(95, 92, 92, 0.232), transparent 50%); }

/* line 210, static/css/cards.scss */
.bone:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(95, 92, 92, 0.232), transparent 50%); }

@media screen and (min-width: 769px) {
  /* line 215, static/css/cards.scss */
  .bone::before {
    background-image: linear-gradient(-80deg, rgba(95, 92, 92, 0.232), transparent 50%); }
  /* line 222, static/css/cards.scss */
  .bone:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(95, 92, 92, 0.232), transparent 50%); } }
