{% extends 'main.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<section class="site-section pt-5">
  <div class="container">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        {% for object in obj %}
        <div
          class="carousel-item{% if forloop.counter0 == 0%} active {% endif %}"
        >
          <img
            src="{{object.image.url}}"
            style="height: 585px"
            class="img-fluid d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h1
              class="{% if forloop.counter0 == 0%}animate__fadeInDown{% endif %}"
            >
              {{object.title}}
            </h1>
            <h3>{{obeject.sub_title}}</h3>
            <button class="mt-3 p-4 px-5 bten font-weight-bold"></button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
