{% extends 'main.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<section class="site-section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-theme home-slider owl-loaded owl-drag">
          <div class="owl-stage-counter">
            <div class="owl-stage">
              <div class="owl-item">
                <div>
                  <a
                    class="a-block d-flex align-items-center height-lg"
                    href="{% static '/images/home.jpg '%}"
                  ></a>
                </div>
              </div>
              <div class="owl-item">
                <div>
                  <a
                    class="a-block d-flex align-items-center height-lg"
                    href="{% static '/images/code.jpg'%}"
                  ></a>
                </div>
              </div>
              <div class="owl-item">
                <div>
                  <a
                    class="a-block d-flex align-items-center height-lg"
                    href="{% static '/images/NewYork1.jpg'%}"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
