{% extends 'main.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<section>
  <div class="row">
    <div class="col-full">
      <div class="feature-slider slick-initialized slick-slider slick-dotted">
        <div
          class="slick-list draggable"
          aria-live="polite"
          style="padding: 0px 8%"
        >
          <div
            class="slick-track"
            style="
              opacity: 1;
              width: 6237px;
              transform: translate3d(-1782px, 0px, 0px);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
