{% extends 'main.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-3 pb-4 h-75">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <!-- Indicators -->
    <div class="carousel-indicators pt-5">
      <button
        class="active"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="0"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      {% for item in carousel %}
      <div
        class="carousel-item{% if forloop.counter0 == 0%} active {% endif %}"
      >
        {% if item.route %}
        <a href="{% url item.route %}">
          <img
            src="{{item.image.url}}"
            style="height: 700px; object-fit: cover"
            class="img-fluid d-block w-100"
            alt="..."
          />
        </a>
        {% else %}
        <img
          src="{{item.image.url}}"
          style="height: 700px; object-fit: cover"
          class="img-fluid d-block w-100"
          alt="..."
        />
        {% endif %}
        <div class="carousel-caption d-none d-md-block">
          <h1
            class="animate__animated {% if forloop.counter0 == 0%} animate__fadeInDown {% endif %} {% if forloop.revcounter == 1 %} animate__slideInDown {% endif %} {% if forloop.revcounter == 2 %} animate__slideInDown {% endif %}"
          >
            {{item.title}}
          </h1>
          <h3 class="animate__animated animate__slideInDown">
            {{item.sub_title}}
          </h3>
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section>
    <div class="container py-4">
      {% for post in posts %}
      <article class="postcard light bone">
        {% if post.image %}
        <a class="postcard__img_link" href="{% url 'post_detail' post.slug %}">
          <img
            class="postcard__img"
            src="{{ post.image.url }}"
            alt="Image Title"
          />
        </a>
        {% endif %}
        <div class="postcard__text t-dark">
          <h1 class="postcard__title">
            <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
          </h1>
          <div class="postcard__subtitle small">
            <i class="fas fa-calendar-alt mr-2"
              >{{ post.author }} | {{ post.created_on }}</i
            >
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            {{ post.content|slice:":200" }}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>

  {% endblock content %}
</div>
