{% extends 'main.html' %} {% load static %} {% block content %}
<div class="container py-4">
  {% for post in detail %}
  <article class="postcard light bone">
    {% if post.header_image %}
    <a class="postcard__img_link" href="{% url 'post_detail' post.slug %}">
      <img
        class="postcard__img"
        src="{{ post.header_image.url }}"
        alt="Image Title"
      />
    </a>
    {% endif %}
    <div class="postcard__text t-dark">
      <h1 class="postcard__title">
        <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
      </h1>
      <div class="postcard__subtitle small">
        <i class="fas fa-calendar-alt mr-2"
          >{{ post.author }} | {{ post.created_on }}</i
        >
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{ post.content|slice:":200" }}</div>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock content %}
