{% extends 'main.html' %} {% load static %} {% block content %}
<div class="container">
  {% for post in detail %}
  <div class="post">
    <img class="headerimg w-100 mt-4" src="{{ post.image.url }}" alt="" />
    <div class="caption">
      <div class="header">
        <h1>{{ post.title }}</h1>
        <p class="text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
      </div>
      <p class="text-md-center">{{ post.content | safe }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
